/*-------------------- Google font Import----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


/*---------------------- color Groups------------------------------*/
:root{
    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}



body{
    height: 100%;
    background-color: var(--body-color);  
}
body.dark{
    --body-color: #18191a;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #ccc;
    --search-bar: #242526;
    
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
}
nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}
.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}
.nav-links li a{
    position: relative;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    padding: 10px;
}
.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    transform: translate(50%);
    opacity: 0;
    transition: all 0.03s ease;
}
.nav-links li:hover a::before{
    opacity: 2;
}
.nav-bar .darklight-searchbox{
    display: flex;
    align-items: center;
}
.darklight-searchbox .dar-light,
.darklight-searchbox .searchbox{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin: 0 5px;
}
.dar-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.03s ease;
}
.dar-light i.sun{
    opacity: 0;
    pointer-events: none;
}
.dar-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}
.dar-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}
.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}
.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}